body{
    width: 80%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;

    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3d3d3d;

    font-size: 16px;
    line-height: 1.5;
}

.title{
    background-color: #E1EDF2;
    padding: 10px;
    font-size: 32px;
}

.subtile{
    border-bottom: 2px solid black;
}

figure{
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;

    background-color: whitesmoke;
    border: 1px solid lightgrey;

    padding: 15px;
    margin: 30px;
}
figcaption{
    padding-top: 10px;
}

.matriz-musicdot{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.familia-tupfeln{
    width: 275px;
    float: right;
}
figure img{
    width: 100%;
}

.contato_subtitulo{
    display: inline;
}
.contato_secao{
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato_secao-telefone{
    margin-left: 32px;
}
.contato_info{
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato_info-titulo, .contato_info-descricao{
    display: inline;
}

.contato_info-descricao{
    margin-left: 10px;
}

.rodape{
    padding-left: 1.75em 0; /*espaçmento interno 75% maior qdo que a fonte da página*/
    font-size: 1.1rem; /*fonte 10% maior do que a fonte da página*/
}

.rodape_logo{
    width: 6em; /*largura 6x o tamanho da fonte da página*/
}

.rodape_copyright{
    display: inline; /*deixar elemento na mesma linha que a logo*/
    margin-left: 1em;
}

@media (max-width:850px) {
    .contato_secao{
        display: block;
        margin-left: 1em;
    }
} /*para desktop*/

@media (max-width: 446px) {
    .contato_subtitulo{
        display: block;
    margin-bottom: 0;    
    }
    .contato_info{
        padding-left: 5px;
        font-size: .92em;
        border-left: 2px solid lightgray;
    }
    .rodape{
        font-size: .92em;
    }
}

@media (max-width:342px) {
    .contato_info-descricao{
        display: block;
        margin-left: 1em;
    }  
}